acme-orders/api/src/resources/ECommerceWs.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://acme.com/services/eCommerce/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ECommerceWsService" targetNamespace="http://acme.com/services/eCommerce/v1">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://acme.com/services/eCommerce/v1" xmlns:ns2="http://acme.com/schemes/ecommerce/v1" xmlns:ns1="http://acme.com/schemes/messages/v1" xmlns:ns0="##default" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://acme.com/services/eCommerce/v1">
  <xs:import namespace="http://acme.com/schemes/messages/v1"/>
  <xs:import namespace="http://acme.com/schemes/ecommerce/v1"/>
  <xs:import namespace="http://acme.com/schemes/common/v1"/>
  <xs:import namespace="##default"/>
  <xs:element name="RetrieveProduct" type="tns:RetrieveProduct"/>
  <xs:element name="RetrieveProductResponse" type="tns:RetrieveProductResponse"/>
  <xs:complexType name="RetrieveProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="ns1:RetrieveProductRequestMessage"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RetrieveProductResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns1:RetrieveProductResponseMessage"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ECommerceErrorFault" type="ns0:ECommerceErrorFault"/>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://acme.com/schemes/messages/v1" xmlns:ns2="http://acme.com/schemes/ecommerce/v1" xmlns:ns1="http://acme.com/schemes/common/v1" elementFormDefault="qualified" targetNamespace="http://acme.com/schemes/messages/v1" version="1.0">

  <xs:import namespace="http://acme.com/schemes/common/v1"/>

  <xs:import namespace="http://acme.com/schemes/ecommerce/v1"/>

  <xs:complexType name="RetrieveProductRequestMessage">
    <xs:complexContent>
      <xs:extension base="ns1:BaseMessageType">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="RetrieveProductResponseMessage">
    <xs:complexContent>
      <xs:extension base="ns1:BaseMessageType">
        <xs:sequence>
          <xs:element minOccurs="0" name="product" type="ns2:Product"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ECommerceError">
    <xs:complexContent>
      <xs:extension base="ns1:BaseErrorType">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://acme.com/schemes/ecommerce/v1" xmlns:ns1="http://acme.com/schemes/common/v1" elementFormDefault="qualified" targetNamespace="http://acme.com/schemes/ecommerce/v1" version="1.0">

  <xs:import namespace="http://acme.com/schemes/common/v1"/>

  <xs:complexType name="Product">
    <xs:complexContent>
      <xs:extension base="ns1:BaseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="title" type="xs:string"/>
          <xs:element minOccurs="0" name="price" type="xs:decimal"/>
          <xs:element minOccurs="0" name="currency" type="xs:string"/>
          <xs:element minOccurs="0" name="supplier" type="tns:Supplier"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Supplier">
    <xs:complexContent>
      <xs:extension base="ns1:BaseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="companyName" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Customer">
    <xs:complexContent>
      <xs:extension base="ns1:BaseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="firstName" type="xs:string"/>
          <xs:element minOccurs="0" name="lastName" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
          <xs:element minOccurs="0" name="email" type="xs:string"/>
          <xs:element minOccurs="0" name="dateOfBirth" type="xs:dateTime"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Transaction">
    <xs:complexContent>
      <xs:extension base="ns1:BaseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="currency" type="xs:string"/>
          <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
          <xs:element minOccurs="0" name="nonce" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
          <xs:element minOccurs="0" name="gatewayDeclineCode" type="xs:string"/>
          <xs:element minOccurs="0" name="processorResponseCode" type="xs:string"/>
          <xs:element minOccurs="0" name="processorResponseText" type="xs:string"/>
          <xs:element minOccurs="0" name="paymentMethodType" type="xs:string"/>
          <xs:element minOccurs="0" name="customer" type="tns:Customer"/>
          <xs:element minOccurs="0" name="gatewayTransactionId" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Order">
    <xs:complexContent>
      <xs:extension base="ns1:BaseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="status" type="xs:string"/>
          <xs:element minOccurs="0" name="cart" type="tns:OrderItemList"/>
          <xs:element minOccurs="0" name="customer" type="tns:Customer"/>
          <xs:element minOccurs="0" name="transaction" type="tns:Transaction"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrderItemList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="items" nillable="true" type="tns:OrderItem"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OrderItem">
    <xs:complexContent>
      <xs:extension base="ns1:BaseType">
        <xs:sequence>
          <xs:element minOccurs="0" name="title" type="xs:string"/>
          <xs:element minOccurs="0" name="price" type="xs:decimal"/>
          <xs:element minOccurs="0" name="amount" type="xs:decimal"/>
          <xs:element minOccurs="0" name="quantity" type="xs:decimal"/>
          <xs:element minOccurs="0" name="currency" type="xs:string"/>
          <xs:element minOccurs="0" name="product" type="tns:Product"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CustomerList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="customers" nillable="true" type="tns:Customer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TransactionList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="transactions" nillable="true" type="tns:Transaction"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SupplierList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="suppliers" nillable="true" type="tns:Supplier"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="products" nillable="true" type="tns:Product"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OrderList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="orders" nillable="true" type="tns:Order"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="SupplierStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="INACTIVE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CustomerStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="INACTIVE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TransactionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SETTLED"/>
      <xs:enumeration value="DECLINED"/>
      <xs:enumeration value="FAILED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PaymentMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREDIT_CARD"/>
      <xs:enumeration value="PAYPAL"/>
      <xs:enumeration value="APPLE_PAY"/>
      <xs:enumeration value="OTHER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OrderStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEW"/>
      <xs:enumeration value="COMPLETED"/>
      <xs:enumeration value="CANCELED"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://acme.com/schemes/common/v1" elementFormDefault="qualified" targetNamespace="http://acme.com/schemes/common/v1" version="1.0">

  <xs:complexType name="BaseMessageType">
    <xs:complexContent>
      <xs:extension base="tns:BaseType">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BaseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="createdAt" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="updatedAt" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BaseErrorType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ref" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:integer"/>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="##default" xmlns:ns0="http://acme.com/schemes/messages/v1" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="##default">
  <xsd:import namespace="http://acme.com/schemes/messages/v1"/>
  <xsd:complexType name="ECommerceErrorFault">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="fault" type="ns0:ECommerceError"/>
      <xsd:element minOccurs="0" name="message" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveProduct">
    <wsdl:part element="tns:RetrieveProduct" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ECommerceErrorFault">
    <wsdl:part element="tns:ECommerceErrorFault" name="ECommerceErrorFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveProductResponse">
    <wsdl:part element="tns:RetrieveProductResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ECommerce">
    <wsdl:operation name="RetrieveProduct">
      <wsdl:input message="tns:RetrieveProduct" name="RetrieveProduct">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveProductResponse" name="RetrieveProductResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ECommerceErrorFault" name="ECommerceErrorFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ECommerceWsServiceSoapBinding" type="tns:ECommerce">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RetrieveProduct">
      <soap:operation soapAction="http://acme.com/services/eCommerce/v1/RetrieveProduct" style="document"/>
      <wsdl:input name="RetrieveProduct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveProductResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ECommerceErrorFault">
        <soap:fault name="ECommerceErrorFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ECommerceWsService">
    <wsdl:port binding="tns:ECommerceWsServiceSoapBinding" name="ECommercePort">
      <soap:address location="http://localhost:9080/acme-monolith-soap/ECommerceWs"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>